@page "/CurrencyKit"
@using Microsoft.Extensions.Localization
@using global::Lazy.Abp.CurrencyKit.Localization
@inject IStringLocalizer<CurrencyKitResource> L
@{
}
<h1>CurrencyKit</h1>
<p>@L["SamplePageMessage"]</p>