@page
@using Microsoft.Extensions.Localization
@using Lazy.Abp.CurrencyKit.Localization
@model Lazy.Abp.CurrencyKit.Web.Pages.CurrencyKit.IndexModel
@inject IStringLocalizer<CurrencyKitResource> L
@{
}
<h1>CurrencyKit</h1>
<p>@L["SamplePageMessage"]</p>
